*{
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}

header img {
    width: 100%;
    margin-bottom: 20px;
}

main {
 padding: 0 5%;
}

main h1 {
    text-align: center;
}

main section {
    margin-bottom: 20px;
}

main h1 img {
    width: 60%;
    margin-bottom: 10px;
}

main img.top {
    margin-top: 20px;
}

main p em {
    font-weight: bold;
    font-style: normal;
}

main p {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.8em;
}

main img {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

main p span {
    color: #0091B2;
    font-weight: bold;
}

i.keyboard {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../images/keyboard.png);
    background-size: cover;
}

i.voice {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../images/voice.png);
    background-size: cover;
}